body{
    background-color: black;
    height: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotos{
    width: flex;
    margin: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.fotos .botoes button:hover{
    background: rgb(175, 17, 17);
    color: rgb(175, 17, 17);
    border: 1px solid rgb(173, 23, 23);
    transition: 0.5s;
}

.fotos button{
    padding: 15px;
    cursor: pointer;
    margin: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.fotos button img{
    width: 256px;
    height: 200px; 
}

.fotos #animes{
    border-radius: 20px;
}
