body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25px;
    gap: 20px;
}

.relogio {
    margin: 25px;
    width: 350px;
    height: 150px;
    background: rgba(216, 219, 238, 0.7);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio div {
    background: rgb(139, 95, 241, 0.7);
    color: rgb(0, 0, 0);
    height: 150px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

.relogio .Pontos {
    font-size: 80px;
}

.data {
    width: 420px;
    height: 160px;
    background: rgba(216, 219, 238, 0.7);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data div {
    background: rgb(139, 95, 241, 0.7);
    color: rgb(0, 0, 0);
    height: 150px;
    width: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

.data .barra {
    font-size: 80px;
}

.mensagem {
    background: rgb(216, 219, 238, 0.7);
    width: 150px;
    height: auto;
    font-size: 50px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: 10px solid rgb(139, 95, 241, 0.7);
    box-shadow: 5px var(--shadow);
}

.manha {
    background-image: url('/images/wallpapper\ 9.jpg');
    cursor: url('/images/if-weather-3-2682848_90785.png'), default;
}

.tarde {
    background-image: url('/images/wallpapper\ 8.jpg');
    cursor: url('/images/if-weather-3-2682848_90785.png'), default;
}

.noite {
    background-image: url('/images/wallpapper\ 8.jpg');
    cursor: url('/images/iconfinder-weather-weather-forecast-moon-night-sky-3859141_121229.png'), default;
}

.nightTheme{
    border: 10px solid rgba(211, 6, 6, 0.7);
    color: rgb(255, 255, 255);
}

.nightTheme{
    border: 10px solid rgb(139, 95, 241, 0.7);
    color: rgb(0, 0, 0);
}

button{
    background: rgb(139, 95, 241, 0.7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    color: var(139, 95, 241, 0.7);
    background-color: var(139, 95, 241, 0.7);
    cursor: pointer;
}

button:hover{
    background: rgb(0, 0, 0);
    color: rgb(139, 95, 241, 0.7);
    border: 1px solid rgb(139, 95, 241, 0.7);
    transition: 0.5s;
}